<a href="https://colab.research.google.com/github/Kumarkad/data-science/blob/main/Practical_no_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df =pd.read_csv("/home/pro-14/Desktop/Mall_Customers.csv")

In [ ]:
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
df['Age'].mode()

0    32
dtype: int64

In [ ]:
df.groupby(['Genre'])['Annual Income (k$)'].mean()

Genre
Female    59.250000
Male      62.227273
Name: Annual Income (k$), dtype: float64

In [ ]:
df.groupby(['Genre'])['Age'].mean()

Genre
Female    38.098214
Male      39.806818
Name: Age, dtype: float64

In [ ]:
df1=pd.read_csv("/home/pro-14/Desktop/customer.csv")

In [ ]:
df1

     CustomerID   Genre     Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   youth                  15                      39
1             2    Male   youth                  15                      81
2             3  Female  middle                  16                       6
3             4  Female  middle                  16                      77
4             5  Female   youth                  17                      40
..          ...     ...     ...                 ...                     ...
195         196  Female  senior                 120                      79
196         197  Female  senior                 126                      28
197         198    Male   youth                 126                      74
198         199    Male   youth                 137                      18
199         200    Male   youth                 137                      83

[200 rows x 5 columns]

In [ ]:
df1.groupby(['Age'])['Annual Income (k$)'].mean()

Age
middle    58.909091
senior    61.340909
youth     60.901786
Name: Annual Income (k$), dtype: float64

In [ ]:
df1.groupby(['Age'])['Spending Score (1-100)'].mean()

Age
middle    49.159091
senior    51.795455
youth     49.982143
Name: Spending Score (1-100), dtype: float64

In [ ]:
df2=pd.read_csv("https://github.com/Kumarkad/Dataset/raw/main/IRIS.csv")

In [ ]:
df2

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
irisset=(df2['species']=="Iris-setosa")

In [ ]:
irisset

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

In [ ]:
df2[irisset].describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [ ]:
irisver=(df2['species']=="Iris-versicolor")

In [ ]:
irisver

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

In [ ]:
df2[irisver].describe()

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [ ]:
irisvir=(df2['species']=="Iris-virginica")

In [ ]:
irisvir

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: species, Length: 150, dtype: bool

In [ ]:
df2[irisvir].describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [ ]:
df2[irisvir].std()

sepal_length    0.635880
sepal_width     0.322497
petal_length    0.551895
petal_width     0.274650
dtype: float64

In [ ]:
df2[irisvir].mean()

sepal_length    6.588
sepal_width     2.974
petal_length    5.552
petal_width     2.026
dtype: float64

In [ ]:
df2.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [3]:
df3=pd.read_csv("https://github.com/Kumarkad/Dataset/raw/main/canada_per_capita_income.csv")

In [4]:
df3

    year  per capita income (US$)
0   1970              3399.299037
1   1971              3768.297935
2   1972              4251.175484
3   1973              4804.463248
4   1974              5576.514583
5   1975              5998.144346
6   1976              7062.131392
7   1977              7100.126170
8   1978              7247.967035
9   1979              7602.912681
10  1980              8355.968120
11  1981              9434.390652
12  1982              9619.438377
13  1983             10416.536590
14  1984             10790.328720
15  1985             11018.955850
16  1986             11482.891530
17  1987             12974.806620
18  1988             15080.283450
19  1989             16426.725480
20  1990             16838.673200
21  1991             17266.097690
22  1992             16412.083090
23  1993             15875.586730
24  1994             15755.820270
25  1995             16369.317250
26  1996             16699.826680
27  1997             17310.757750
28  1998             16622.671870
29  1999             17581.024140
30  2000             18987.382410
31  2001             18601.397240
32  2002             19232.175560
33  2003             22739.426280
34  2004             25719.147150
35  2005             29198.055690
36  2006             32738.262900
37  2007             36144.481220
38  2008             37446.486090
39  2009             32755.176820
40  2010             38420.522890
41  2011             42334.711210
42  2012             42665.255970
43  2013             42676.468370
44  2014             41039.893600
45  2015             35175.188980
46  2016             34229.193630

In [5]:
from sklearn import linear_model

In [6]:
df3.rename(columns={"per capita income (US$)":'per capita income'},inplace=True)

In [7]:
df3.columns

Index(['year', 'per capita income'], dtype='object')

In [8]:
X = df3.drop('per capita income',axis=1)
y = df3['per capita income']

In [9]:
lreg = linear_model.LinearRegression()
lreg.fit(X,y)

LinearRegression()

In [10]:
lreg.coef_

array([828.46507522])

In [11]:
lreg.intercept_

-1632210.7578554575

In [12]:
pci = 793.10855535*2021+-1561998.8543457168
pci

40873.536016633036

In [13]:
print('The per capita income fo canadian citizens in year 2021 %4.8f' % (pci))

The per capita income fo canadian citizens in year 2021 40873.53601663